body{
    background-color: #efeaea;
}

#header{
    width: 100%;
    height: 400px;
}


#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    z-index: 1;
}

li{
    float: left;
    padding: 10px;
    
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    text-decoration: none;
}

li a:hover{
    background-color: #747070;
}


.centrado{
    position: absolute;
    top: 45%;
    left: 45%;
    color: snow;
    font-size: 3.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(-55%,-55%);
}

#contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.nombre{
    background-color: #1c1616;
    margin: 0;
}

h1{
    margin: 0;
    color: #FFFFFF;
    font-size: 2.0em;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

#nosotros-img{
    width: 30%;
    float: left;
}

#nosotros-texto{
    width: 60%;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-right: 3%;
}

#img-nst{
    height: 250px;
    width: 400px;
    padding: 20px;
    margin-left: 10%;
}

h2{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.footer{
    width: 100%;
    background-color: #c7c2c2;
    margin-top: 400px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
}
